body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.signup-container a {
    color: #007bff;
    text-decoration: none;
}

.signup-container a:hover {
    text-decoration: underline;
}
td {
    color: #333;
}

